@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--primary: #fc5185;
	--border-radius: 5px;
	--max-width: 300px;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	color: #555;
	margin: 0;
	box-sizing: border-box;
	font-family:'Space Mono', monospace;
	text-transform: lowercase;
	text-align: center;
	margin: 0 auto;
}

code {
	background-color: #f1f1f1;
	color: var(--primary);
	padding: 0 5px;
	font-family:'Space Mono', monospace;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: bold;
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input,
button,
select {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
}

button {
	cursor: pointer;
	display: block;
	margin: 2em auto;
	color: white;
	background-color: var(--primary);
	border-radius: var(--border-radius);
	border: none;
	padding: 1em;
	transition: 0.1s;
}

button:hover {
	transform: translate(-6px, -6px);
	box-shadow: 6px 6px black;
}

.btn-secondary {
	color: var(--primary);
	background-color: white;
	border: 3px solid var(--primary);
}

.btn-secondary:hover {
	border-width: none;
	color: white;
	background-color: var(--primary);
}

.gg-info {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 40px
}
.gg-info::after,
.gg-info::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    left: 7px
}
.gg-info::after {
    bottom: 2px;
    height: 8px
}
.gg-info::before {
    height: 2px;
    top: 2px
}
