@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,1,0,1&display=swap');

:root {
	--primary: #fc5185;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	color: #555;
	margin: 0;
	box-sizing: border-box;
	font-family:'Recursive', monospace;
	font-variation-settings: 'MONO' 1, 'CASL' 1;
	text-transform: lowercase;
	text-align: center;
	margin: 0 auto;
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
}

input, select {
	margin: 0.5em 0;
	border: none;
	background-color:#f0f0f0;
	border-radius: 5px;
	outline: none;
	transition: 0.1s;
	color: #555;
}

input:focus, select:focus {
	transform: translate(-4px, -4px);
	box-shadow: 4px 4px var(--primary);
}

input:disabled, select:disabled {
	color: #ccc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

button {
	cursor: pointer;
	display: block;
	margin: 2em auto;
	color: white;
	background-color: var(--primary);
	border-radius: 5px;
	border: none;
	padding: 1em;
	transition: 0.1s;
}

button:hover {
	transform: translate(-6px, -6px);
	box-shadow: 6px 6px black;
}

.btn-secondary {
	color: var(--primary);
	background-color: white;
	border: 3px solid var(--primary);
}

.btn-secondary:hover {
	border-width: none;
	color: white;
	background-color: var(--primary);
}
